@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth !important;
}

.animate-marquee {
    width: max-content;
    display: flex;
    animation: marquee 10s linear infinite;
}

.animate-scroll {
    width: max-content;
    display: flex;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}
